@model IEnumerable<PersonelMVCUI1.Models.Entity_Framework.Kullanici>
<br />
<br />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Kullanıcı Ekle", "Yeni", null, new { @class = "btn btn-success" })

<h2>Kullanici Listesi</h2>

<table class="table table-bordered table-striped" id="tblKullanicilar">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Güncelle</th>
            <th>Sil</th>
            <th>Kullanıcı Detayı</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var kullanici in Model)
        {
            <tr>
                <td>@kullanici.Id</td>
                <td>@kullanici.Email</td>   
                <td>@Html.ActionLink("Güncelle", "Guncelle", new { id = kullanici.Id }, new { @class = "btn btn-primary" })</td>         
                <td>@Html.ActionLink("Sil", "Sil", new { id = kullanici.Id }, new { @class = "btn btn-danger btnKullaniciSil" })</td>            
                <td>
                    @Ajax.ActionLink("Kullanici detayı göster", "KullaniciDetayi", "Kullanici", new { id = kullanici.Id },
               new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "kullaniciDetayi" }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="kullaniciDetayi"></div>





